@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-family: 'Philosopher', sans-serif;
    background-image: radial-gradient(#104069,#000000);
    user-select: none;
}

 header {
    background-color: #8fc7ff;
    color: #000;
    padding: 0.3rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    position:relative;
}
.brand-title {
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 500;
    font-style: normal;
    font-family: "Satisfy", cursive;
}
#title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#logo{
    mix-blend-mode:multiply;
    width: 50px;
}
.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 1rem;
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 1.5rem;
    display: block;
    font-weight: 900;
}
.navbar-links li a:hover {
    color: #062df0;
}
.toggle-button {
    flex-direction: column;
    justify-content: space-around;
    height: 21px; 
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 2px 0;
    border-radius: 10px;
}

/* Responsive Design */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul li {
        text-align: center;
        /* margin: 0.5rem 0; */
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
        margin-top: 20px;
    }
}


main {
    flex: 1;
    padding: 7vmin;
    background: #031e36;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    max-width: 327px;
    text-align: center;
}

.game-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

button{
    width: 60%;
    margin-top: 20px;
    padding: 15px;
    color: #fff;
    /* background: #062df0; */
    background: #0080ff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 5px;
    align-items: center;
}
button:hover{
    background: #2f97ff;
    cursor: pointer;
}