body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#104069, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  color: #ffff;
}
input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
div button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
div button:hover {
  background-color: #45a049;
}
.message {
  margin: 20px 0;
  font-size: 18px;
}
.stop {
  margin: 0.1em auto 0 auto;
  background-color: #fe0b0b;
  color: #ffffff;
  padding: 5px 10px;
  width: 30%;
  border: none;
  letter-spacing: 3px;
  border-radius: 5px;
}